h2{
    text-align: center;
}

.header{
    background-color: chartreuse;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: center;
}

h1{
    font-weight: bold;
    color: violet;
}


